ul {
    list-style-type: none;
        margin: 0;
        padding: 0;
        width: 25%;
        background-color: rgba(170, 163, 67, 0.5);;
        height: 100%;
        position: fixed;
        overflow: auto;
        
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}


li h2 p {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


li h2 p:hover {
    background-color: #555;
    color: white;
}
