

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(44, 136, 211, 0.6);
    
    border: 1px solid #555;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

ul li p {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


ul li p:hover {
    background-color: #555;
    color: white;
}

@media (max-width: 800px) {
    ul li p {
            
            padding: 0;
            
        }

    ul {
        width: 150px;
    }

}